html
    head
        title #{title}
        link(href="public/css/main.css" rel="stylesheet" type="text/css")
        link(href="public/css/datepicker.css" rel="stylesheet" type="text/css")
        link(href="public/icon.png" rel="icon")

    body
        div(id="example")

        script(src="/scripts/react.js")
        script(src="/scripts/react-dom.js")
        script(src="/scripts/underscore-min.js")
        script(src="/scripts/axios.min.js")
        script(src="/scripts/pubnub.min.js")

        script(src="/scripts/bundle.js")