html
    head
        title #{title}

    body
        div(id="example")

        script(src="/scripts/react.js")
        script(src="/scripts/react-dom.js")
        script(src="/scripts/underscore-min.js")
        script(src="/scripts/axios.min.js")
        script(src="/scripts/pubnub.min.js")

        script(src="/scripts/bundle.js")